body, input, button
{
    font-size: calc(10px - 0.25vw + 1.75vh) !important;
    color: black !important;
}
.form-vertical-margin{
    margin: calc(10px - 0.25vw + 1.75vh) 0;
}
.title-text
{
    font-size: 1.5em;
}
.logo{
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
}
.flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter-spacing
{
    letter-spacing: 5px;
}
/* Landing page */
.app-landing-page
{
    background-image: url('../images/background.jpg');
    background-size: cover;
}
.dashboard-landing-page{
    background-color: #E1E0FF;
}
/* Navbar */
.navbar-container
{
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(225,224,255,0), rgba(255,255,255,1));
}
.navbar-toggler
{
    border: none;    
}
.navbar-toggler:focus{
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
/* Access form */
.form-container
{
    max-width: 40vh;
    padding: calc(10px - 0.25vw + 1.75vh);
    background-image: linear-gradient(to bottom, rgba(225,224,255,0.5), rgba(255,255,255,0.5));
}
.form-control, .form-control:focus
{
    background-color: rgba(225,224,255);
    padding: 0 0.75rem;
    outline: none;
    box-shadow: none;
}
.form-control:-webkit-autofill 
{
    transition: background-color 5000s ease-in-out 0s;
}
.btn-dark{
    color: rgb(250,250,210) !important;
}

/* Dashboard */
.dashboard-content{
    position: absolute;
    top: 20vh;
}
.greeting-card{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}
.dashboard-username{
    color: rgb(96,91,255);
}
.metrics-card{
    max-width: fit-content;
    background-color: #fff;
    border-radius: 1rem;
}
.metrics-btn{
    background-color: rgb(96,91,255);
    color: #E1E0FF !important;
    border-radius: 1rem;
    cursor: default !important;
}
.metrics-btn:hover{
    background-color: rgb(96,91,255);
}
.metrics-title{
    font-size: 0.75em;
}

/* Date Time Display */
.date-time-table th{
    background-color: rgb(96,91,255);
    color: #E1E0FF;
}
.date-time-table td{
    background-color: transparent;
}

/* Appointments Table */
.appointments-table{
    background-color: #fff;
    border-radius: 0.5rem;
}
.appointments-table th{
    padding: 0.5rem 0;
    font-size: 1em;
}
.appointments-table td{
    padding: 0.5rem 0;
}
.more-appointments{
    color:rgb(96,91,255);
}