body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
